$primaryColor: #05cfff;
$secondaryColor: #fab840;
$font: "Roboto", sans-serif;
$fontSize: 1.6rem;
$linkColor: #2361ff;
$textColor: #d7d7dc;
$btnColor: #000;
$btnBg: #ccc;
$headingColor: #fff;
$bg: #030d22;
